html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: "Lucida Grande";
}

a {
	text-decoration: none;
}
header {
	height: 65px;
	width: 100%;
	background-color: rgba(34, 49, 52, 0.9);
	/* Ubah position ke fixed, dan top ke 0 */
	position: fixed;
	top: 0;

	/* Ubah z-index ke 10 */
	z-index: 10;
}

.container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBQUFBgUFRUZGRgZGhsYGxoaGhobGRodGxsaGhgaGB0bIS0kGyEqIRgaJTkmKi8xNDQ0GiM6PzozPi0zNDEBCwsLEA8QHxISHTMqIyo1MzE1MzMzNTMzPDMzMzMzMzUzNTMzMzMzMzMzMzMzMzUzMzMzMzMzMzMzMzMzMzMzM//AABEIAOEA4QMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAEBQIDBgABB//EAEQQAAIBAgQDBgIHBQUHBQAAAAECEQADBBIhMQVBUQYTIjJhcYGRFCNCUqGxwRUzYtHwU4Ki0uEWNFRjcpLxByRDk7L/xAAZAQADAQEBAAAAAAAAAAAAAAAAAQIDBAX/xAAlEQACAgICAgMAAwEBAAAAAAAAAQIRITESQQNRIjJhQnGB8BP/2gAMAwEAAhEDEQA/APk4NTU1QDVqtSKLgalNVBq9mkBaDXuaqc1ehqkZerVYHocNXoagqgtGo+02lArZKwTzq/PFS2VFFl65Q7PUXeagTSsdFyvVqXKEDVNWpBQeLlRZ6HV68Zqih0Ercq1btL81TD0+IqDmehneod5VLvVIGXB6i5qgPXveU2Ii5qlmq1zVFymiGiDNUc1RY1AmqEWE1EmvA1eE0ASmuqM11FCBxUwa8dCu9RmrAtDVIGqQakDSGWzUgarBr3NUjROakpqrNU0NBRocX+6Q/wBbUuZ6aYr/AHdDHSkjNXNCXK/7NSRavM1QLV5NaAWq1WBqHVqkrUxBKtXM1VBq5nqRki9e56HLV2aqoReXqpnqJaoFqpITJ569D1TmrzNTaJLy9Vu1Se2VVW3VtiOvMH1qhmoSEeMagTXpNeFKaJZ5NezXhFRmmInNdUM1dRQDbiCLGlJnEGmVy5In0pY+9VdhVHA1IGoCpCkBMGpMCN6rmmd5BctBgNV/o0gF4NWpVS1atSyomt4rlGDSPT8qy2atBxPEK2FQDes2DXP4Vh/2y7LC1RzVEmvbtsqcrCDpp7ida3odkg1TDVQDUg1FBZeGr0tVWaumigTPS1cDUJr2adBZImoE1xNRJoE2dNeE1xNQJpksMwd8a228jf4TyYVRiLZRip3H9Aiq01ppbw3e2y320Go6r1+FLQC2yssB603vYA5QarwOAJYGtdbwGa3qKUnkkw1+xFDJamtNxPAEaAVVh+DvAJGlNPACHua9rS/sv0rqOQULruEi2DGpilOJw0V9FbhJNtRGwpJxTg510rVITZjIq/C2szAUxHBLnSiLHBHBBHKnxZFgGP4cyFcoJnkBJ+Qo3s0VYtbbmNK1uA4S7MjBgpAMMRIBKkCfeY+NJLnBzZxRKMGUmZXVSTvlPMTPzpOL6GpIzeNwxt3GQ8jp7VXNbjtB2dZwLgGsT/OgsL2aJWT0qIpyRfJIDxeGjChgaQTWzxvBbndhDS0dmXNTDxtWCmhRg7OjXG8if4nPlUfmfQUy7LYFcRiCtwmILHqTNM8ZwC4ypbUQiDkPMx1Zj1P6aVbwrs5cRs2o9aJRdFckJe1fDEw+INtDK5Q3qJ5H5fjSWt/iuyju5YyZ11oZ+xrdDRFOgckYkGr7OHd5yqTFa+12LaQINaf9iC1a7u0gzkamNv506FyPkbAgwa4VvH7FuxkzNWJ2IPQ0UOzBpZY7CovbI5V9WwXY4AeWqcd2NB2GtDQuR8sKGostfTB2J02qDdhz0pWDPnOHtknQVquzTd3c1GhBUz0NafBdjIGopqnZcLBA1FDYhBb4ULbsBqBseoOorQ4TCfV7UzfhcAbTGvtOn60XYwkLFZPLwDMle4VLzFPsNwNcm3Kj2woEGnOHIVar8BGT/Yo+7XVqe+XpXVGR2Z5MEIoDGcOnlWjsqIrx7c16CRz2ZX9kDpU04SByrTfRqk2GqsCB+BcJtshzGCNR6RWP4TgA+cR5LtxPgHJX8CK3CArJrO9lpOIxtsja8GAj7yg1OpAwhsKSArDQURhuGrGgppicP4RUcC0NlNY8lGbXsurQtbAB3yxsDUv2UpuLbA5Zm9tgPifyNN8Nbm43tUuFOGDXI8x/AaL/AD+NO+hr2DpwZelWPwhVWYp0kRUr4lDRIaFmF4apUGKsv8PRRmI+FMML4Uk0IuJFx/4F+U1nfQ7I4LBaZiig+386L+iD0+AA/SixXtVxFYvPDlrv2cvQUfXU6DkwJcCvSuOAWjSa9ooLBRgk6V4cEnSiq6lwQcmBHALXv0MUbXlJxCxBj7GR0bkZQ/mPyqmy/L3pnxy1mst1XxD3XUUp4cO8YONmAPzqIqm0N6s9dJIoiBFXX0ykGqe7J2pqImVQK6pd2a8p0KwThrh0DT71YH1pHwu8UuNbbTmPWnKpJFdVdmaYSLleu9Mhh0CCRrQd7EADu8upOaf696heRPQ6aAlakHZQf+7xz6fvUHyXpWjUrWW7MYjLicXb+9eVpnTyxt8ambpoFs2WIYRrtSu4h7wXAZEbfhUcSSFKNzYKvx2mvMQrWJDbMJU8p5j+utZeZIuLOt8SHd32XQhcq9SzQunxai+DuNba6lQB7D1rNvmW3EjM9xNugfNpz+zTrgGNWXC76Zj61Pjdyb/Egv2O/pEV5cxRZTFQFlm1FU8UuGzaLAS3Ida2lhZBM441mBtge5qeHAB6KKQYHFXC+RhBOs1oO7KLG9ZeOLeWOwi5jYMTpR1i+CN6S37OgaavwraVtvQh1moN8XBih0vkVFgGM1NDCDitNatt3iBJ2oC4621zufhUExneQAYXeqQhwLk61EX6rw7giKjcUAaUqAuN8VA36DFok71a3h0NJ4GTvvmUjqKRcABWbfNWK/CZH50bexGUkzQ/DL6m47iOR+Y51nKS5J/4NLoNx6HMqjnQ1u/kbI1TxWKJuKRtVXFUDCeYql7EwjvBXUl79utdTtBYm4+5t3EuAbHX250/w2IBQXPSRSvHumItlfK8b0u4fxH6vujuhy10XeEY6yaa1ji9wMTpEc4qjimMNu8rNqhGUeh9aV4nHCzbJILHeBv6ULwTjHf3Cl2FDDMoIkEcx77H51zySi0kNzsdW2LMHIOWfX4TSHs/Z/8Ad4wx/wDIokbDQGtZdvqiHXwms32Yt3FvYpysWXuyLrkKhChVOpPI/OrnF0Lse8Ygo/dtmdShgbyRpS3iHaRHVUa13jofGSDkQjQ7HxN6ba0NxXFG2z2MNczPeOd7w3RTAVdJynTcxpSfAo4vAbgCOs9T+tEUpfbouTa12OMbic/d3AMoe4ohREQrzA5e1X9l7AD3SraZj/Rr3F21S3ZDL/8AOpJ5CVcae5P4UB2cvBcTfDMEBcQpMehPtWUcSbBs2/7SVADyJA/ShuJXg83D5VGnvWa49dbvLNtTobhaeRVdoI3FQ43xfNcTDofDpmI/KlJuUq9DTLbHE4Y3GETt7VosDj+9X2rL8aQnJbtL4B5m0MNyB6adaJ4fdNkhW2PWrdqqGjQvdlsp2pjg7QOhNZNMdJJJnWnOGxcr0NXTQrGty0omWGlVWsUuUqqz60uxLApOvqauwGU2yQYI5UaGUPYNyQxnWpdwtsQTBqSXgs68qA4mC1vvHuIixIzHUxyj1pt9CXtk7ePuISV1WibPES58WlU8Ie29saia7EIoYVDlJDpDNsUAQBVGIvz70sOHuPcUBgJBMnbSluK4qU0bfajkuwG73wQRzilTo9u4rJz3X7wB1HvFdaud4C6nbavMBie+MTDI2msST4Vj4xRjFE/rHOMxCqqvyOxr2/i1I0pBibouA288MWIg7BufsDVeG4kFY22Go0I31HStIwVA5Ow/vR1FdS6R0rqngg5GU4lxk5z3RgmjezFhkvIbuudvLO4gk6/A0dwDs7be49xjlPIESFztCCPU6fCnOG7M3LZF644FxgyZRBRFeAT7D73WKuW00Z7QM2DNsPevEZrjlbaDUZR6+xmkvEUFu7bcaCf0qixx97r95cBJQkRvEH8fejcThDiblthPd5WdoMRlHM8taw80FKC47TQJ9DtMZmtkwWCgyswrka6sdiBv1AnkazPFMYMSrA3AUVlLAZglsTolsc9PtUb+0bi3UDjIqlQFQkAAyAfU6z705XBYW614W1guuS4OjrtcUbDQiQNoHrWz+WhxdCTA8U1yFQEaWAXRdTsByirrbO1zwQIWiOH2sPYchHa4oXRykAnWVk+vSlHD1uG4ziQNSDyNTwuWgcqDrvFGuMloTK3EJJ20cSfYDMSaF4tbYYmRJl5PqABNNMHwe4ytkIztGaSAAJ8KSdi5EnXyiPtUz4etvNc7xCxBmDIOpAEH+8Kb8aV/9kTfITWuLkXHVLQa2qiVbkxMEofsH26U0wPArbg3LZYOwlUciQYkgMPN+dK+zuFc3MRbZDlDwZ30nn8qf47FKoCDbbbSRrvt8KnxfVXsat22IrVm7nLLcVXBgyHysAdUcZZI/Kr+N4hii3AAy6KSDqp6Ebx0O23PSirmIZhLLoYUuJOQbAsOa/lQ/C8Fds3LgcB7TqRlBlWmNQw3BH6HcVckkilbFXD8VLxO9bK3dVbcHf8AKkFjhluzcW6SCkws7g/db+L/AM084yiXLgIaJSIHpt+dObwERNe4wbbamVbeiMLitCbb6HUj+VZi3gD3723bwnyn3rQ9muBPhlfEXzABK2k5MRPicHlpSTQZHdhu5Aa4AXYSqE79CaVcYwwvJDRnksSCY6gKOgpSzLi171LxLhtQTEnkAOQphhsRlVmuTNsTA1LE6KF6ySNKlyppIdBfZzDm0uW5OYjNqdADsI66fjHKo428e8kHSaOxl62EJQydtTJgaA/Kk6XsjAXI8RAB6T1qXctDwkPwQbTMSQdACPWsziOD3blwWwwJIn13p3gsQgtObjaq5XL7GP0qjBWXusz22CvlkAmCRtC0Skl0DVokmBS2jISVYLsP61obs1gg1prjgh2cMgnQgNpI/wCrLR73ChFzE2XVbRylhquWBq3303PKJPLWiMJxjCXs5s5RBHeAwpVRMOink2kNsNZiKIRdYByTEHFMHbsu9w3JRCMzAaljMIonViZ0png0S6p+rVHhWCvla6ANQHYAZGIPlG3PU6ZPivE7V64Wg5UBFtR5QToX6lj1NWcBxSMuRW8YPx33rWXpEJ+zV5V+4a6l305v7T869qaHYVbv2bdssC7gH94VFtGKg5EGaSxGdj4Qd/SpW+M2rgIa4yORCrk0+EsS4MDptMClmHt27tsrcbPdCW8qtoiyJygA+EgkSdPairOHtn6lypXKxL24HdlBIaecQeRrZQdZIcleDPv2Yv23ZbWR1IG9y2oJiYEt10/0o3i/DrmHwb2rTk3fM8Dw6HNkSdcuu/WoXsFa+jrcIa8VITOcq3XmB9mAizEAgmJNObWKt27a2/EVRsokQzDUkqG5nTXbfQbVK8SukJypWI+D2zfNu44iCsmNJ0ge9Aoy27pxNp3BZEZxPhnLIy+sHf1rR8TxBdUUBbaKwdRs0DUhQNyT1G9Z7GI/dpbUeLRUMeIg6BfXytFVwUVgSk3sfWeIHF2hbtxnMtkIAzHdsvRvT1HUVF0Fm2O/BVwfq7SFSzHcFyJAHOJ5Sazz2VS44tXDCZEusrQC50yIfQSzN/CAN5rsBxexmufSS7knItwtl5FnYGCdYiFG0D7RquQKJort4m2QBq7hgFn0BYz6k+2nSrrXEw7PZDS1tAC5HiJDqSubmBHOqsM4S4Fg92EBRiIJBOqkkePKcp+dKsLiRZulXG4KMI10YiBpOoI156GjyO/iKGMjWyzvduvbYyzywmeSzPxBNMXuupUMR3b50ZYnxlSUb0MqR8aH7uxZxBNi6iO+9pyxDHmxYzkJ109tpqXEEcqUMi7nVikCH8UzbInNAB94PSojHouyON4vbw6qChynQmNB6mjcBfVyFtnMp8RUnw9TlP2D67daX4HDC6blq4RmEgIwPig6xPLnRS4Du8Nd7pl8B1PNiRrbEbAD5k+lOaVsUZOkWYrK1twyM6FhCqBnUjUbHU7ke2kyRQn0WLYvBsyq0qw2PVWHI8iDVHA8WR5idASpHmXnvz9jT3hmJt3Q2dBLxm5ByBM66TB336yKiSopOxbhktXLhxDr4SB3aL9puntpSvt9irly2FV3G3opkahY5cqbcQxT2YW3bR0Ziqsnmtx9kj7J119qp4dbN51t30YpqRoQDlExm5a86htJ0V0ZLhPDLdtQ0kae2vWnGGxBtOgdo7y4CS3lyBYQ6bbvHv6U7v8AArDg3JZUBEJP4MxGk9Kzf/qHgStu09sBQuYBQSSDAIB9Mo09zTeLsV2sGyTCWGyoGAbk0+FvSsz2qY2nVSs5YbnDQf8ASk/BOKi7bFu4djqNj6EGtVauWblxbF45x9hjqSv3WptLDiCbayF2rlu4l9QkswS4uh1zgEiffNWb4mt63cRjKgDQiR/W1blsOtpWhFUKCASY8u36mstwjiT4kXe8cLFu4MwHlBhZ19CazlBSwVbos7E9oHv3LlgsSEGYlhKxMQSRznbnrSzjeFtYe8mIwoylCScshX+8sfZUnQLtp9ncn8Pwtu3hgmGJyQzsziXutIUPppBMgDkB8az/AGmLpktoVKhmBI3zHITPpNP6rGyU3WS652bTEWxewpeZi5aYhn1JOZSANBIWI5A9aP7Mdj71m6LxddA3gBlpAkSOh2+NKezF68L3d5gEAZ2JGqhPFKHfUxptr8a2FjtGiXLb3LaqWVfrF8JOaVYMOmi6ciJ51rxx+iu2efQLf31/xV1N+6/5tv8AD/JXUs+gx7Pn/Z2w/f3brq5RnZVbMxC52uEox0kwE32oHjmAt4a+QrultwCoJZhH2gJJzeLMY9qZm7dukWbUW8jAhGkbkabakKdT1LVoLPDrbKli+QXnNA8SgQPCx0KNqSCOokGtOS409oVO7RmOG4y0MqW958IeZzay7Dn4JAM7sdNBR2Nx62s7NLt5VnQk/ZikXFOEtavKQ2ZA7AOniZSFuZg8bEfpNE4ZluI7v4iFi3B5zqxHqNKec0L44sY9nlw12812+jlgEOUOcuY6sJ3gRoKE7R4lsNiHt282QjPnZZZEyzlQndiqNryBPXWi21y2VRPMWVrhAJyaA5IP2+vJfetBxvEh3stOVna3bbYSuubf+EsPaoUW1Y7WhTxlEtWrQ7tktv4mCglsz6gkdIyn3mlmPQXLdwSZzKyvEFeh/wAOo/iraYZ0vXHNweBTmjkJHhA+FZfithCXAcgBQWaI1kbdR4Tr61o4ppIhNptgXA+MXEssLhzophkbdTOjo3Icp5H3FaVmsX1W5oQVCMQAXSSMrzvmXTXpEwBWdKWEIt7ZhlAYgh5BlGnYkaCfT0ot+GmxcAANqUXKFfMEIBOvvO1KmnWwtNWXXMKljv7l1Gcju38LTowyltNCGaCdNCarw3F7dy4id1dQkZcxuA5JYMuUM0CGANV8Mu3MReezc8LujJAMSUOaI6+nWsNgLVwY1LZzBxdUEEkEQZk76Aa+1ZqRbiz7T/tKXQ24t3LiLcDORDaSAwU7ab68uc1Tg+POtouuGRggytqpcg65jPmkyZHM1l8fxbu8WHt5Q1shncnLoRJXXRswbWfblTu7jLeQYnDKHRshZNxbkmQRzSQB6GJiaG6wNK8hVntOhy2/oIkrnUAgQGknNz13oy5xAtblsGgUTly3EBWBGkGSdazq9qLalsyK2IcEx5QBMKpj05CNKX4fiyd6ms6+JRppOoJ586cWndIGmqHgtFLgvoHQNAuI5XLc6ZoPhcDZwNdARWh4vxFLSILi3SjQEy5AATuh/i96zDX7rvcYqXsDKrAgKAG8oWNQRG9MsBxHKmVlZ7JEHMBAnyhj7AjkQRvSvFjroZfRLZZCjEhSxKNrOUEgtrGYMQsUm4lfS6ty3lMq7spOs5RMQdY8JAppwzAi2917dwMr5Dbts3jQ6Z0n7SmB4gZ67a5fg9vGMwuXLJZMwkyoLToRBM8+lTNW7QRVKmAvhbaxce3CkDxIdvcU74Q9kXFZfG7iLQIEqJOa4M0CZEL8TyrJX1xVom3esOq5nFst5XCnYEb6FfnRGDtYu9cS6tt7bs31bgEIMmgyHZQoWI6ClFt5oHSwbezxAXLr2nUBHHNguV0EE6+QxMilHDuIW2S7at2yLAWe+dIN9jnGdf8AlgrA33mpYviaC4mdUzplNzEBIV7nISADGmUkzqaJxHFFuBLRZgjHLAUEqpUqF09umulXvAtDPhuLWzhFvMGZ3OVVgBTkMgKBrGgOnSsDx/FPiLfeIrtczuWCqTqSsGAPQ1qe0Ry2FFlXuJakZg2ixJzMBtvz6VneE8fZ7jO1wpatqc+Q5WaD4imnMdevpUuHXYbT9Gg4PwW53Ra7byOyd22bo4BBETyGtCcdu27ZQvb8DMVLAQM2UNy22/E0PgO1hxOIt21UpbIuBVLZixWYLHmdKjawhN17riU7xiMxkZlUHUdNYA9DV5cRJJPJH9uXP7K5/wDdb/y11PPpif2af9v+tdS+RXx9FOBCXbgv22VWUEMvJjy1HMHX1q/hF9WxNyZzjUaaRET+EVDCYRLRZ8o3lUBP2tWJB9ajiuN92wti2odmVs48xWfKKqUMKyYyPOI8EvG8LqKMlyUuKDkMkkC4pMAmGAIHSs7e4PestKr4nOjArlQDYiT5tCBOgnrFaRsK3f57pzhvEqm4zBQYjQwAdPWkfbC33TG6bQykQwEsoEGHH3TyMiNuprau2Z30hbc4PjLiq3gVF1I7yRqdQShYk66+5ppiFuNbQBGJVjkEySACoIPMRs3MClnZzCYzE5Dh1dkD5W0FtcriDJmCInatDwLCvYVzdGV08AAIMlSRIjSDvWalWBqHZRwrCY23na6CqGBl9YIB99Img8b3gvOpzQ9lQpAMLqROnQ/ma0OL4heyJbuB2DkkuAMqRsCZnXbalzM6XEcoWaAqz5QAZBPz2pQk/RckvYs4MqYSwcZfyuE/dqwku2wYT0Jq3EcWF6yLr6uWHlA2J0kHTmKKwXEbt/EOb9tfo9y3kAfLrG5QDbfnG1D4Xs6tpb1pc94akM6hFKtIWBMn309qmUndjjFUKUxzriBiCDmJzHKQBOxjMf1o65xPCNd77IyX2AQlgNZO4nTNqB5hoSKxv7Ta27IyjcZgS8/MsY+VPeDcXW1dt3URHVWysrEjKWgSCek8+YqVJN4G44yEYzgIynJca4tzNmZgJViSTmjYz6Deiuytq9g2bNDId5MA5hDD10itYvGcLfPd21OdBJyoVZJYKJYDJcBZgOXmFFJw62w8Qhpghw1uYj4VfBbFyf1MWOD2ct29hg5Rcz3AzBmRdYVX3YMdddYBBPM5/D8GvlkuvadELoSw0gFgNTrknYEivrGC4Ulm4zrbIDgZgGJRgJlYJ0BVm/Cs3ieHXTeFkOxV3dTlKh1UGVde8aGA5qSDoOtCpK2J3dIT8TxN7C4xQbjPYuAOkAgFVMBSYALqykEDqDzqLY65dvMgdQc7NbA0D5iWZm183iAHKKAx2Oe25s3zL4e62Xp49dthqg+VU3LwF3vPL9oPvlacyH5yPYVLVpXkpOrrBssDxW3bvixcM5DsQRGkMVJiRqdOX5X9ouIXsI6C1dAturZSyg5wYBVpEEptP8UxrQuAxZxeQOgcEgo32rdwanxH7J6HcUz4pw1e7Wzio7sXFdHRpNtxAyx0YEjoPlSp5yDrpCzGq1yyhxGIyW5FxWZWd9ipRANp09NAaDxnaW7cCWLLFBkycgWQCJKjyzE6an51d2rxVtUYIWdGCBAxJdGV2lCRpACrHoaUcF4fdyvdIVcxDTc0OU5ssLuRoT8qTfvQ0vWzTcVuWBbfNbLZ1CQshgphgVXZWBUjX7oMa0j4TxFe8VHCkpoQw0cLoMw/P2qd+0bmf6yATMx0Hiyjp4Zj0pThsQUuPa7pS+cqSR4gwhSVYiYIBPx9aUJxk8MqUGlk1GGxRa13lkZXgMqAedQJYZdjoD4QNaR4vEW8bmD2u6usNRbyidADAOhJyjw+mm9MMQlxbti4hIQMC5mCqmJZYBgr59t1FZziFr6/Oozd83gyAxnmWydORHoauLaIaTGmAwbWnsC2ne5bgjKPJrBJBkqxDNI20FaHEYi3bzgWwzuuYFmlbjCFyquyt4Rr0PWlPD8Rcw1l7mI8GJc90jhgSqbXLjBSfGF0PpHOj8Jcs31fDGXVXKqziGDAZs2nod9j8a0grtLBnN1TE3+0WJ/4e5/2D/JXU4/2dxv/ABCfM11HBj5Ios8XYZLixMQfjULNgPiReuyyIvhWdJoO1dNzykOAY0FXNg7ht6yNdK2nDFmMZ06HVnFWnuhWLeIEyAco9JqOIxlksyXFDZWKo06gEQR6TQOAw62/rH1IEST+lZa8965fcklbZbNm/JVrOfklhrRrGC0zUvjbxY20zIjDa2QiidJJGpNNMP4iC5Hh3PU8yaz9tmt2yZzEiBrJAqjEYi6AlsISXOZmPlRQQST61Epcnj/RpUqZruJ8QCWD9oHl0ofs9xlbyG066xv8aBxLi5aaNgNPhSfA463h8QQqyTbz5sxMqJLLB2IIb5U5bsI6os4zwx7ZLWrkOraKwUBxuYMSSRpzrU8EvG/bD+VwuUgxJjWPgaScdtpxLDK9jw3FIKkGNY0Bjkaadm+HXbNtRccux3kRHWTUK3ZTwfM+03DnGMuKJYyG66QBr6AflR3CeGwMxbwrGcblzuFiDuY9Y96+hY3slbu3zeuXCJUCM0DTr1ry1iuH4T6susDrqT79aFURttoxWBx2N7yAXQOfDI0VW0ynKdB8o03rc9m8BiUZ/pVz6tAEtgsdQqgBm112mq8Lx/D3rws2rayNSYggfz1FVce7Sg3Us20ZiSw3kyviOw0011pSbfYJJDa1iruVtNCSQJ5GfxFQfCJfzd5K5o+YEZgeR5eoJBpHhuOXVc271vIRGk8j067GtHhLgcelVjoWT5l2y4Ibd2BIDW4ZzLSUbOraCZK+H+761UMNbawS+dUaFBOhOsqwnY+9fT8ThQzDUNBEZhqPUdKX4/semLIslig1MpEZgPDI5jTl1qJfFWsjTt5Mt2YzI2VRlVQMhDAx6t/FWixODuaDzZj4kPlbr7HasfgsNcwOJS3ckq2xPoYInnrHzrccWe61ktZEsF09SOQqFLtGnHoWXeC23DWz5ZbwliCGIISSATAO8DY0Zb4OLdubtwJkyi4bh8uggEmJ0iAN50oKw7W0LXBN0LnIBllaA2U/xDSqHxyYy2y3WYMxU513Urty23BGx51Pk8bnh4KhNRyhD21uJbW26YkF85ZURdFUeRmJ3khtIjTnTnB8Ma/ftPcR7TlPrFdcrSAAjAcxEr7IvWvOP9nfpF25ibzm5bOVlSwqi5cKqqAtyGg2UEn0pt2Y4il7KAjoyQkOWzzrmD5iTIgb76VUIKKrRMpuWQ7ivDjbt3FzKilSis07kAqQBJPiUaUk7OLa8IDG4bU+JlCRcAMlQu6w5XXUadJraXuLBGFt1DBgY20IIikWE4OcKt1hGRkyqAJIklmJ9yZ+FWr4mbWQTiOIss31ihwVICESMzQzsY13Cj+6Ohqqw9s3e+ViXulc4MMMyDIWWDIPhAKwIgVLE4Gbr3CCqwqKHIU6r4iANhB5+pr3iWFFtVdlM6BcoAC6/ZJ9ifnWsI0k+yJO20OO/ryo/Rrf9o34V1dPI5+JnMXxG3h1y2rYJHTlUeD425eaX0XpUV7IyJ70knc09wPDFVAkwdqmbk96KiorQk4/iAYQbzJ+FIOIPduPbUQLYYM0fMA+9b5+ztthJMt61nuMcOS116aVnxVZNLzgoTEFmYwFQCB/p1rrd6VbvJCR4ST4j6xyr3B4VrylbcyNtNAaLwvZO4f3rggmSBzrFJrRpaeyfCMuXu1YOCu6zGo2MjerOGdjnuXQ7syBCV2BDKZkem5+dNbS2sMAAAKqxfar7Fsa+8VVtRSFSbbGWA4VY4fbC25Kr94ydTJk+/Larb/FwwLACNdv51lO8a8w71mJ3ABOntV+PRktsACTG00lF1Y3JWXdvb7nDLcskyPNlmStZ/sDwHCm22K4gmcNoisSfiR8zv0pp2dxC4hDauA7ZWHMD1phxLh1tMltZZEHlmen8qlxtjTpFItYRrj4qzlRVtlQdtFmfkAfwoPgF+2lv6aIL+Yht2P6dPjVvG+AK6ZbRZVIAMRrrqPwj0mgON2bNtEQQGUroDMQZM9aTuKbQKpOmedsuLs5S41uGYEafZ23HsD/AEK94Lx3LALVlO0uLa7ezqxygBCJMBhJB+M/gas7O4Zr+ICZoSJj8hNDdho+oYXFd5rMj0plhsUUYFTyI/8AFZZwMKRbLakjLr1pjhL+sE0072DJdrcHbxFtVY5XRs4cCYIBHiHOQTtrRXB8TFlVIaYiSNW9RG350detW7iwwjof63qhEySqkqD0O9LikFszXFsDlckeABs5YCfCQJLRqdTzrPYyzctt9WoUanOG+r6OrfGGHpIrQdo89srckhdUeAT4W0OgrK8R4ksNbzAjQTyJUyrDfkK0ik1nomTaeDTcF4oSrZXUsigswgKZgaKTO5HrGtaOxYUoLo8LFSRzknckbzrtWGwVwDJcS9nQ6NbcBXjYxA0iZHtW2wNxrlvPMjLyEdANqTSWtDTfYixb3S4XIcolu8fQTzCkbA6Uz4Txb6wW3aVbY9PSh8Nxe5bu5byq9hDIAylpjSQT6ml/FrQuA4q3lUFgcizI5a+tO85VAtbGXGbLLiZdi6vGXVYAAGkR0rzizNftpazEfWKdplQRK/w6CgrLm8EcsSU0A/DWn2GtNbzOIIIiN996bjUqRKlixp9X93+vnXVme/PrXVvwfsz5/hn8Jjr4HikUacU2/eRS7E3LlxCV0pRh8G+jO8iaTeCaz6NTgOI3GuakkU/vW1uDxAGsYnFbdtfbc1dw3tILj5dgdqITTfEcouuRqFxdqwIML6Ck+M7TMzZVEKdjzqnitksufpWMu8S7smEZtdzyrOaUZUzSHyWB3iBiDdDZsyfjVrYdXaczKRroN/TWgsHxF7gnYUwwWGe/cW2hOY7AbnrTqLWBXJMDs4253kERl0B/KtBgcW1yQaJx/A8gJacw0IPUdaXcOtuTmOgFFKP6F2abAYS3bUsi+M7t0qWHtszERJPOhExJEKOf5UwwlxrZnLIPM0cUFsaWkVViNa+d8b4LcuYiVBkzpy963OP4wGjaF0AFQt5LmoMGKjh2yuVaPnvD+yNwu4xDIikEaGWPNT00IrY9nuFYTDWb2RQzt9t/MsAwFMadaox/DPFmklpmrEsNG3v603CLVCTaYLmwjFTdQu4jWTptrvvAj40fmskSiMBuJ/ODvXXMCGUfVqIGump1nXrvS1uJm20MojbX9KxppmiDzcuNBzHTb1+FOsK4YDMKUWLqvbzLsNZ6VdhMergBW2/ChO3Y2qDsfhvDIAI9eXtXy7i/CyhdWEKWMNG33Z6V9PtOS2UnN6VPiXA0upsIO9XyJo+RdlMLdd3VAzMgIA5SetfSuFNct4bu7q5XAGYCPTaKOwuFt4O1Fq2JMk6qM3qSTSp71+5cllAX0ZP81TG3hjfszZdO/dNJOsdKLxV0W0WNNNaf4vs3buw05WBkEET7HWgMf2cuuIWGj1G3zqm+KpCWXYJ2dvAuY2MaVo72Yh1HptWY4Vwa7auEZd+WdI09Jmt59HPdgQMx31HSjndMOIh/Z3oa6m/c3PuH5j+deVX/AKMOP4Yb7HwpRj/3R9q6uraX1OdbMpivJ/eFFcL/AHie9e11YeP7G8vqfRMT+7+FYY/b+Ne11aef7E+H6slwPyH3ra/+n/8Av1v2f/8AJrq6sv4lvY/7S/vLnufzpHhv3Yrq6tP4ozX2Zb9v+7T655f7v6V5XVMuivZmT5z7034ft8a6urR6JWwu7UrflHvXV1Q9DDbu3wrEdrdh711dWbNFsJ7N/wC6n3/QUHwX97c/6q6urKBpI1GG/ep7n8q04/dmurqrshiu95R7UtO/xr2upgH4ajLW9e11NiQK3nHvTBNq8rqQ0Qrq6upFH//Z);
	background-size: cover;
	color: white;
	text-align: center;
}

.top-wrapper h1 {
	opacity: 0.7;
	font-size: 45px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

.top-wrapper p {
	opacity: 0.7;
	margin-bottom: 3px;
	color: black;
}

.btn-wrapper {
	margin: 20px 0;
}

.btn-wrapper p {
	margin: 10px 0;
	color: black;
}

.signup {
	background-color: #239b76;
}
.btn {
	padding: 12px 24px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
}
.btn:hover {
	opacity: 1;
}

.fa {
	margin-right: 5px;
}

.logo {
	width: 124px;
	margin-top: 20px;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
	margin-right: -25px;
	display: flex;
}

.header-right a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.3);
	transition: all 0.5s;
}

.header-right a {
	line-height: 65px;
	padding: 0 25px;
	color: white;
	display: block;
}

.lesson-wrapper {
	height: 500px;
	padding-bottom: 80px;
	background-color: #f7f7f7;
	text-align: center;
}

.heading {
	padding-top: 60px;
	padding-bottom: 30px;
	color: #5f5d60;
}

.heading h2 {
	font-weight: normal;
}

.lesson {
	float: left;
	width: 25%;
}

.lesson-icon {
	position: relative;
}

.lesson-icon p {
	position: absolute;
	top: 90px;
	width: 100%;
}

.txt-contents {
	width: 80%;
	display: inline-block;
	margin-top: 20px;
	font-size: 15px;
	color: #333;
}

.heading h3 {
	font-weight: normal;
}

.message-wrapper {
	border-bottom: 1px solid #eee;
	padding-bottom: 80px;
	text-align: center;
}
footer {
	padding: 30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
